#top-container {
  background-color: #f3e1e1;
}

body {
  margin: 0;
  text-align: center;
}

.developer-heading {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

.btn {
	box-shadow:inset 0px 1px 3px 0px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:5px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #3d768a;
}

.btn:hover{
  background-color:blue!important;
  color: #581c0c;
}


hr{
  width: 3%;
  border-style: dotted none none;
  border-width: 5px;
  border-color: #6886c5;
}

h3 {
  color: #11999E;
}

h2 {
  color: #11999E;
}

.footer-link {
  color: #11999E;
}

h1 {
  margin-top: 0px;
  padding-top: 80px;
  font-size: 3rem;
  color: #66BFBF;
  font-family:times, cursive;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  margin-left: 150px;
  margin-top: 20px;
}

p {
  font-family: 'Bebas Neue', cursive;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.skill-icon1{
  width: 20%;
  float:left;
  margin-right: 30px;

}

.skill-icon2{
  width: 20%;
  float:right;
  margin-left: 30px;
}

.contact-me{
  line-height: 2;
  margin-top: 50px;
}

.bottom-container{
  background-color: #66BFBF;
  height: 100px;
  margin-top: 50px;
  padding-top: 30px;
}

.copyrights{
  color: #EAF6F6;
  font-variant: normal;
}

.footer-link{
  text-decoration: none;

}
